extends layout

block content
  .inner
    //- If the form has no action attribute, it will default to the current page
    form.form(method='POST')
      h2 Reset Your Password
      label(for='password') New Password
      input(type='password', name='password', required)
      label(for='password-confirm') Confirm Password
      input(type='password', name='password-confirm', required)
      input.button( type='submit', value='Reset Password')


